use nix

# TODO: These should all be part of the build process?.
# PATH_add ~/acl2-build/bin
# export SBCLRC ~/acl2-build/sbclrc
# export ACL2_SYSTEM_BOOKS=~/acl2-build/acl2/books
# export ACL2S_SCRIPTS=~/acl2-build/scripts
# export ACL2_LISP=sbcl
# export ACL2S_NUM_JOBS=8
